@import "gridlex.less";

@gutter: @gl-gutter / 2;
@zebra: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(0,0,0,1) 1px, rgba(0,0,0,1) 2px);

.fixed-height(@height) {
  height: @height;
  line-height: @height;

  &[class*="col"] {
    padding-bottom: 0;
  }
}

* {
  // Set default styles.
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  position: relative;

  &:focus {
    outline: none;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

body {
  overflow-y: scroll;
}

a {
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

button {
  height: 2rem;
  line-height: 2rem;
  width: 100%;
  background-color: lightgray;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: gray;
    color: white;

    &:before {
      content: "";
      height: 3px;
      width: 100%;
      background-color: darkgray;
      position: absolute;
      bottom: -3px;
      left: 0;
      z-index: 1;
    }
  }
}

i.btn {
  height: 2rem;
  line-height: 2rem;
  width: 100%;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  text-align: center;
  display: block;

  &:hover {
    color: black;
  }
}

input, select {
  height: 2rem;
  line-height: 2rem;
  width: 100%;
  padding-left: 0;
  background: transparent;
  border-bottom: solid 1px lightgray;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    a {
      height: 2rem;
      line-height: 2rem;
      width: auto; 
      padding-left: @gutter;
      border-left: solid 2px black;
      display: block;

      &.router-link-active {
        border-left-width: 8px;
      } 
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  display: block;

  > thead {
    width: 100%;
    display: block;

    > tr {
      height: 2rem;
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
  }

  th {
    .fixed-height(1.2rem);
    font-weight: normal;
    background-color: gray;
    color: white;
    text-align: left;
    display: block;
  }

  td {
    .fixed-height(2rem);
    text-align: left;
    overflow: hidden;
    display: block;
  }
}

div.container {
  max-width: 80em;
  margin: 0 auto;
}

div.form-input {
  > div {
    .fixed-height(2rem);

    label.form-label {
      height: 2rem;
      line-height: 2rem;
      width: 100%;
      border-bottom: solid 1px black;
      display: block;
    }
  }
}

h2 {
  margin: 0;
}

pre {
  margin: 0 0;
}

span.form-message {
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

#navbar {
  .fixed-height(2rem);
  width: 100%;
  background-color: white;
  border-bottom: solid 1px lightgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  a.logo {
    .fixed-height(2rem);
  }

  a.link {
    .fixed-height(2rem);
    color: black;
    text-align: center;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: gray;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &:hover {
      text-decoration: none;

      &:before {
        height: 4px;
        bottom: -3px;
      }
    }

    &.router-link-active {
      color: white;

      &:before {
        height: ~"calc(100% + 4px)";
        background-color: darkgray;
        border-bottom: solid 4px gray;
        bottom: -3px;
        transition: height 0.05s linear;
      }
    }
  }
}
